<div id="contenedorAutor">
	<img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/310335_10150432559689968_3651791_n.jpg?oh=d9edb30997f40c9c6612fa23765d922d&oe=564AA098" />
	<h2>Cerojas Rojas</h2>
	<small>Desarrollador Web</small>
	<small>cerojas09@gmail.com</small>
<div>

<style>
img{
	padding: 4px;
	background: white none repeat scroll 0% 0%;
	border: 1px solid gray;
}

#contenedorAutor{
	background: rgb(201, 201, 201) none repeat scroll 0% 0%;
	width: 221px;
	box-shadow:5px 6px 2px -3px rgb(0, 0, 0);
	margin: 0px auto;
}
</style>